# Ignore all files
*

# Except directories and files with extensions
!*/
!*.*

# Ignore hidden files
.*

# Except gitignore, gitmodules and makefiles
!.gitignore
!.gitmodules
!Makefile

# Ignore all object files and test .wav files
*.o
*.wav

# Except elements_vocals_sample.wav
!c/elements_vocals_sample.wav

# And ignore pycache
__pycache__
