# Ignore all files (this is so to include executables which have no extensions)
*

# Except directories and files with extensions
!*/
!*.*

# Ignore hidden files
.*

# Except gitignore, gitmodules and makefiles
!.gitignore
!.gitmodules
!Makefile

# Ignore all object files and test .wav files
*.o
*.wav

# Except elements_vocals_sample.wav
!c/elements_vocals_sample.wav

# And ignore pycache
__pycache__

# Don't ignore submodules
!c/Arduino-Libraries
!c/Pitch-Detection
!c/Write-WAV-File